@charset "UTF-8";
p {
    word-wrap: break-word;
}

h3 {
    word-wrap: break-word;
}

h4 {
    word-wrap: break-word;
}


.probe {
    border-radius: 25px;
    border: 4px solid #FFFFFF;
    padding-top: 0px;
}
.btn-inactive {
    background-color: #858585;
    color: #FFFFFF;
}
.ui-scale {
    transform: scale(1);
}
