@charset "UTF-8";
.targetCR {
    display: none;
}
.smokeIcon {
    height: 75px;
    width: 75px;
}
.probe {
    border-radius: 25px;
    border: 4px solid #FFFFFF;
    padding-top: 0px;
    background-color: #F7A006;
    color: #FFFFFF;
    height: auto;
}
.probe-danger {
    background-color: #DA0000;
    color: #FFFFFF;
}
.probe-ok {
    background-color: #1CA010;
    color: #FFFFFF;
}
.probe-warning {
    background-color: #DABC00;
    color: #FFFFFF;
}
.probe-inactive {
    background-color: #858585;
    color: #FFFFFF;
}
.btn-inactive {
    background-color: #858585;
    color: #FFFFFF;
}
.probeNumber {
    font-size: 18px;
}
.probeName {
    font-size: 18px;
}
.probeTemp {
    font-size: 28px;
}
.probeTarget {
    font-size: 14px;
}
.panel {
    margin-bottom: 10px;
}
.smokePanel {
    margin-bottom: 51px;
}
.loginForm {
    margin-bottom: 10px;
}
.panelCredits {
    font-size: 80%;
}
.externalURL {
    cursor: pointer;
}
.cog {
    float: right;
    font-size: 18px;
}

@media (max-width: 333px) {
.smokeIcon {
    height: 50px;
    width: 50px;
}
.targetCR {
    display: block;
}
.probeNumber {
    font-size: 18px;
}
.probeName {
    font-size: 14px;
}
.probeTemp {
    font-size: 24px;
}
.probeTarget {
    font-size: 13px;
}

}
